section{
    background-color: rgb(160, 172, 170); 
    margin-top: 1rem;
    margin-bottom: 1rem;
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
   }

   .container{
    display: flex;
    justify-content: center;
   }
  .box{
    display: flex;
    flex-direction: row;
    width: 9rem;
    height: 9rem;
    background-color: rgb(161, 95, 14);
    margin: 1rem;
   }